* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.menu {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    line-height: 30px;
}
.container {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.food {
    text-align: center;
    background-color: white;
    border-radius: 15px;
}
.name-price {
    background-color: white;
    text-align: center;
    margin-top: 0;
    border-radius: 15px;
}   
.name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.price {
    color: #d8af72;
}
.food img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 0;
}
.food-1 {
    width: 40%;
}
.food-2 {
    width: 20%;
}
.food-3 {
    width: 20%;
}
.food-4 {
    width: 40%;
}
.food-5 {
    width: 40%;
}